<div class="flex flex-col w-full mx-auto px-5 mt-5 h-full">
  <p-dialog
    header="Confirma la venta"
    [(visible)]="visible"
    [modal]="true"
  >
    <div class="grid place-content-center px-10 pb-16 pt-3">
      <form [formGroup]="modalVentaForm" (ngSubmit)="sellMed()">
        <label htmlFor="username" class="py-2 text-xl font-semibold w-full"
          >Producto: {{ modalVentaForm.value.nombre }}</label
        >
        <div class="flex my-1 space-x-2">
          <label htmlFor="username" class="py-2 text-xl font-semibold w-full"
            >Cantidad</label
          >
          <input type="text" pInputText formControlName="cantidad" />
        </div>
        <div class="flex my-1">
          <p class="py-2 text-xl font-semibold w-full">
            Total:
            {{
              modalVentaForm.value.valorUnitario * modalVentaForm.value.cantidad
                | currency : "COP " : "symbol" : "1.0-0"
            }}
          </p>
        </div>
        <p-button
          class="absolute left-[50%] -translate-x-[50%] bottom-3"
          (click)="sellMed()"
          icon="pi pi-pencil"
          styleClass="p-button-success"
          label="Vender"
        ></p-button>
      </form>
    </div>
  </p-dialog>

  <p-table
    #dt
    [columns]="cols"
    [value]="meds"
    [paginator]="true"
    [rows]="5"
    responsiveLayout="scroll"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 25]"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th
          scope="col"
          class="text-lg"
          *ngFor="let col of columns"
        >
          {{ col.header }}
        </th>
        <th scope="col">Opciones</th>
      </tr>
      <tr>
        <th scope="col" *ngFor="let col of columns">
          <p-columnFilter
            type="text"
            [field]="col.field"
            [matchModeOptions]="matchModeOptions"
            [matchMode]="'custom-equals'"
          ></p-columnFilter>
        </th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">{{ rowData[col.field] }}</td>
        <td>
          <div class="flex space-x-2">
            <p-button
              icon="pi pi-shopping-cart"
              styleClass="p-button-success"
              (click)="displayVenta(rowData)"
            ></p-button>
            <p-button
              (click)="updateMed(rowData)"
              icon="pi pi-pencil"
            ></p-button>
            <p-button
              (click)="deleteMed(rowData)"
              icon="pi pi-trash"
              styleClass="p-button-danger"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-toast></p-toast>
  <p-confirmDialog [style]="{ width: '50%' }"></p-confirmDialog>
</div>
