<div class="flex flex-col items-center w-full mx-auto px-5 mt-5 h-full card">
    <p-toast></p-toast>
    <form
      class="flex flex-wrap items-center md:p-10 p-5 max-w-sm w-full border"
      [formGroup]="form"
    >
      <h1 class="text-3xl font-bold my-5 text-center">{{ titulo }}</h1>
  
      <div class="flex flex-col mt-5 w-full">
        <label class="mb-2 font-semibold" htmlFor="nombre">Nombre</label>
        <input class="w-full" pInputText id="nombre" formControlName="nombre" />
      </div>
  
      <div class="flex flex-col mt-3 w-full">
        <label class="mb-2 font-semibold" htmlFor="laboratorio_fabrica"
          >Laboratorio</label
        >
        <input
          class="p-fluid"
          pInputText
          id="laboratorio_fabrica"
          formControlName="laboratorio"
        />
      </div>
  
      <div class="flex flex-col mt-3 w-full">
        <label class="mb-2 font-semibold" htmlFor="fecha_fabricacion"
          >Fecha fabricacion</label
        >
        <p-calendar
          class="p-fluid"
          dateFormat="dd-mm-yy"
          [showIcon]="true"
          formControlName="fechaF"
        ></p-calendar>
      </div>
  
      <div class="flex flex-col mt-3 w-full">
        <label class="mb-2 font-semibold" htmlFor="fecha_vencimiento"
          >Fecha vencimiento</label
        >
        <p-calendar
          class="p-fluid"
          dateFormat="dd-mm-yy"
          [showIcon]="true"
          formControlName="fechaV"
        ></p-calendar>
      </div>
  
      <div class="flex flex-wrap justify-between">
        <div class="flex-col mt-3 w-[48%]">
          <label class="mb-2 font-semibold" htmlFor="cantidad_stock">Stock</label>
          <input
            class="w-full"
            pInputText
            id="cantidad_stock"
            formControlName="cantidad"
          />
        </div>
  
        <div class="flex-col mt-3 w-[48%]">
          <label class="mb-2 font-semibold" htmlFor="valor_unitario"
            >Valor producto</label
          >
          <input
            class="w-full"
            pInputText
            id="valor_unitario"
            formControlName="costo"
          />
        </div>
      </div>
  
      <div class="flex justify-center w-full mt-8">
        <button (click)="submit()">
          <p-button [label]="msgButton"></p-button>
        </button>
      </div>
    </form>
  </div>
  